body {
    font-family: Arial, Helvetica, sans-serif;
   
    /* background-image: url(../cima.jpg); */
    background-attachment: fixed;
    background-size: auto;
    background-repeat: no-repeat;
   /* padding-top:4.2rem;*/
   /* padding-bottom:4.2rem;*/
}
.bg-yellow {
    color: #000 !important;
}
.bg-dark {
    background-color: #E3E7E8 !important;
}
.my-sm-0 {
    color: #1E9ACD !important;
    background-color: #97C5D8 !important;
}
.my-sm-0:hover {
    color: #97C5D8 !important;
    background-color: #1E9ACD !important;
}
.center {
    margin-left: 10%; /*ou 25%*/
    margin-top: ;
}
.btn {
    border: #db8a28 !important;
    border-radius: 5px !important;
    cursor: pointer !important;
}
.bg-yellow-btn {
    border-color: #db8a28 !important;
}
.cont {
    margin-left: 0%;
}
.my-lg-0 {
    margin-left: 25% !important;
}
.bg-yello {
    color: #1E9ACD !important;
    background-color: #E3E7E8 !important;
}
/*.bg-yello:hover {
    color: #E3E7E8 !important;
    background-color: #97C5D8 !important;
}*/
.bg-whit {
    color: #E3E7E8 !important;
    background-color: #97C5D8 !important;
}
.bg-whit:hover {
    color: #97C5D8 !important;
    background-color: #1E9ACD !important;
}
.row {
    height: 100% !important;
}
/*-----------------------------------------------------------------*/
/*css pag de login*/
body{

    /* background:rgba(0, 0, 0, 0.76); */
    }
    a{
     text-decoration:none !important;
     }
     h1,h2,h3{
   
     font-family: Arial, Helvetica, sans-serif;
     }
      .myform{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
      
    /* background-color: #fff; */
    background-clip: padding-box;
    /* border: 1px solid rgba(0,0,0,.2); */
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
     }
     .tx-tfm{
     text-transform:uppercase;
     }
     .mybtn{
     border-radius:50px;
     }
    
     .login-or {
     position: relative;
     /*color: #aaa;*/
     margin-top: 10px;
     margin-bottom: 10px;
     padding-top: 10px;
     padding-bottom: 10px;
     }
     .span-or {
     display: block;
     position: absolute;
     left: 50%;
     top: -2px;
     margin-left: -25px;
     /* background-color: #fff; */
     width: 50px;
     text-align: center;
     }
     .hr-or {
     height: 1px;
     margin-top: 0px !important;
     margin-bottom: 0px !important;
     }
     .google {
     /* color:#666; */
     width:100%;
     height:40px;
     text-align:center;
     outline:none;
     border: 1px solid lightgrey;
     }
      form .error {
     /* color: #ff0000; */
     }
     #second{display:none;}

/*-----------------------------------------------------------------*/
/*css do caio*/

.ss{
color: #000000;

}
.tt{
    margin-top: 5%;
}
.jj{
color: white;
}


.card{
   /* margin-top: 5%;*/
}



/* cart */
.quantity {
    float: left;
    margin-right: 15px;
    background-color: #eee;
    position: relative;
    width: 80px;
    overflow: hidden
}

.quantity input {
    margin: 0;
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 0;
    float: right;
    color: #000;
    font-size: 20px;
    border: 0;
    outline: 0;
    background-color: #F6F6F6
}

.quantity input.qty {
    position: relative;
    border: 0;
    width: 100%;
    height: 40px;
    padding: 10px 25px 10px 10px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    border-radius: 0;
    background-clip: padding-box
}

.quantity .minus, .quantity .plus {
    line-height: 0;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-size: 6px 30px;
    -moz-background-size: 6px 30px;
    color: #bbb;
    font-size: 20px;
    position: absolute;
    height: 50%;
    border: 0;
    right: 0;
    padding: 0;
    width: 25px;
    z-index: 3
}

.quantity .minus:hover, .quantity .plus:hover {
    background-color: #dad8da
}

.quantity .minus {
    bottom: 0
}
.shopping-cart {
    margin-top: 20px;
}

/*PARTE DO CAIO ^^*/
/* CSS DO GABRIEL*/
.adm{
    font-family: Arial, Helvetica, sans-serif !important;
}

.p{
  float: right;
color: white !important;  
}
.azul{
  background-color: black !important ;
  color: white !important;
}
.azul a:hover{
 background-color:  !important;
  color: blue !important;
}
.top{
  margin-top: 1% !important;
}
.linha{
  display: inline-block!important;
  margin-left: 5%;
}
.direita{
  float:right;
}
.direita button a{
  text-decoration: none;
  
}
div ul li{
  text-decoration: none;
}

.esquerda{
  float: left;
  margin-right: 10% ;
}




/* Css Produtos*/

.cinza-btn{
  background-color: #bbb;
 
}
  .tres {

    
    border: solid 1px #bbb;
  }

  .saitop{
    margin-top: 2%;
  }
  .ficabot{
    position: relative;
  }
  .saitop1{
    margin-top: 1%;
  }
  .no-centro{
   
    text-align: center;
    
    
  }

  @import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;

}

/* Category Ads */

#ads {
    margin: 30px 0 30px 0;
   
}

#ads .card-notify-badge {
        position: absolute;
        left: -10px;
        top: -20px;
        background: #89939C;
        text-align: center;
        border-radius: 30px 30px 30px 30px; 
        color: #000;
        padding: 5px 10px;
        font-size: 14px;

    }

#ads .card-notify-year {
        position: absolute;
        right: -10px;
        top: -20px;
        background: #E3E7E8;
        border-radius: 50%;
        text-align: center;
        color: #fff;      
        font-size: 14px;      
        width: 50px;
        height: 50px;    
        padding: 15px 0 0 0;
}


#ads .card-detail-badge {      
        background: #97C5D8;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: #000;
        padding: 5px 10px;
        font-size: 14px;        
    }

   

#ads .card:hover {
            background: #fff;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
            border-radius: 4px;
            transition: all 0.3s ease;
        }

#ads .card-image-overlay {
        font-size: 20px;
        
    }


#ads .card-image-overlay span {
            display: inline-block;              
        }


#ads .ad-btn {
        text-transform: uppercase;
        width: 150px;
        height: 40px;
        border-radius: 80px;
        font-size: 16px;
        line-height: 35px;
        text-align: center;
        border: 3px solid #1E9ACD;
        display: block;
        text-decoration: none;
        margin: 20px auto 1px auto;
        color: #000;
        overflow: hidden;        
        position: relative;
        background-color: #bbb;
    }

#ads .ad-btn:hover {
            background-color: #97C5D8;
            color: #1e1717;
            border: 2px solid #2B3D4D;
            background: transparent;
            transition: all 0.3s ease;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
        }

#ads .ad-title h5 {
        text-transform: uppercase;
        font-size: 18px;
    }
/* PARTE GABRIEL ^^*/